:root {
  --primary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --title-text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
}
.logo-first {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0, 03em;
  color: var(--accent-color);
}
.logo-second {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.3;
  color: var(--primary-text-color);
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}
.button-order:hover,
.menu-nav:focus {
  background-color: #404bbf;
}
.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--primary-text-color);
}
.menu-nav:hover,
.menu-nav:focus {
  color: var(--accent-color);
}
.contacts-add {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--title-text-color);
}
.contacts-add:hover,
.contacts-add:focus {
  color: var(--accent-color);
}
.hero-image {
  width: 1440px;
  height: 600px;
}
.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0, 02em;
  color: #ffffff;
}
.main-part {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0, 02em;
  color: var(--primary-text-color);
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--title-text-color);
}
.name-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.our.employees {
  background-color: #f4f4fd;
}
.team-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0, 02em;
  color: var(--primary-text-color);
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: #e7e9fc;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  color: var(--accent-color);
  background-color: #f4f4fd;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
